#root{
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.app{
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app h1{
  color: palevioletred;
}
.students{
  display: flex;
  align-items: center;
  justify-content: center;
}